<ion-view view-title="{{ 'mm.login.credentials' | translate }}">
  <ion-content class="credentials">
    <div class="list list-inset">
      <div class="item item-text-wrap">{{ 'mm.login.credentialsdescription' | translate }} <strong>{{siteurl}}</strong></div>
      <form>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'mm.login.username' | translate }}</span>
          <input type="text" placeholder="{{ 'mm.login.username' | translate }}" ng-model="credentials.username" autocapitalize="off" autocorrect="off" mm-auto-focus ng-disabled="isBrowserSSO">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'mm.login.password' | translate }}</span>
          <input type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password" ng-disabled="isBrowserSSO">
        </label>
        <div>
          <a href="http://10.66.110.96/login/forgot_password.php">{{ 'mm.login.forgot_password' | translate }}</a> 
          <!--<span ng-click="forgot_password()">{{ 'mm.login.forgot_password' | translate }}</span>--> <!-- Check credentials.js if want to use this one-->
        </div>
        <div>
          <button class="button button-block" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
